
@model string // returnUrl

<h2>Select Language</h2>
<ul>
    <li><a href="/Language/ChangeCulture?culture=tr&returnUrl=@Model">Turkish</a></li>
    <li><a href="/Language/ChangeCulture?culture=en&returnUrl=@Model">English</a></li>
</ul>
